body { 	background-color: #80A1D4;
    color:#F7F4EA;
}

.container {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height:5px;
    text-align: center;
    width: 30vw;
    border: 5px solid black;
    border-radius: 20px;
}
.history-container{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    line-height:5px;
    height: 80vh;
    text-align: left;
    width: fit-content;
    max-width: 30vw;
    border: 3px solid #75C9C8;
    border-left: none;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; /* This hides the scrollbar for Chrome/Safari */
}
::-moz-scrollbar {
    width: 0px; /* This hides the scrollbar for Firefox */
}

input{
    border-radius: 20px;
    width: 5vw;
    height: 5vw;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white; 
    border: 3px solid black;
}


li{
    list-style-type: none;
    margin-bottom: 10px;
    width: 100vw;

}
.output{
    align-items: center;
    height: 10vh;
    color: white;
    border: 3px solid black;
    
    border-radius: 50px;
    margin: 10px;
}

input:hover{
    background-color: grey;
}

#digit{
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    position: relative;
    border: none;
    bottom: 1px;
}
/*
.left{
    text-align: left;
}
*/
@media only screen and (max-width: 800px) {
    .container{
        width: 95vw;
        height: 95vh;
    }
    .input{
        width: 10vw;
        height: 10vh;
    }
    input {
        width: 17vw;
        height: 10vh;
    }
}