body { 	background-color: #404040;
    color:#999999;
}

.container {
        display: inline-block;
        line-height:5px;
        height: 80vh;
        text-align: center;
        width: 30vw;
        border: 3px solid black;
        border-radius: 20px;
}
.history-container{
    display: inline-block;
    position: absolute;
    line-height:5px;
    height: 80vh;
    top: 1px;
    text-align: center;
    width: 20vw;
    border: 3px solid white;
    border-radius: 20px;
}
input{
    border-radius: 20px;
    width: 5vw;
    height: 5vw;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255); 
}
.output{
    align-items: center;
    height: 10vh;
    color: white;
    border: 3px dotted red;
    border-radius: 10px;
    margin: 10px;
}

input:hover{
    background-color: grey;
}


#digit{
    background-color: #404040;
    height: fit-content;
    width: fit-content;
}
@media only screen and (max-width: 800px) {
    .container{
        width: 95vw;
        height: 95vh;
    }
    .input{
        width: 10vw;
        height: 10vh;
    }
}

.invisible{
    display: none;
}