<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ url_for('static', filename='taschenrechner.ico') }}">
        <link rel="Taschenreschner" href="Taschenrechner.py" type="code">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">

            {% if ergebnis %}
              <center>
                <h3 style="color: blue;" class="let_space">{{fdigit}} {{operator}} {{sdigit}} : {{ergebnis}}</h3>
              </center> 
  
            {% endif %}
            <p>
                <input type='button' value='  1  ' name='1' onclick='' id="1" name="1" />
                <input type='button' value='  2  ' name='2' onclick='' id="2" name="2"/>
                <input type='button' value='  3  ' name='3' onclick='' id="3" name="3" />
            </p>
            <p>
                <input type='button' value='  4  ' name='4' onclick=''  id="4"name="4"/>
                <input type='button' value='  5  ' name='5' onclick='' id="5" name="5"/>
                <input type='button' value='  6  ' name='6' onclick='' id="6"name="6"/>
            </p>
            <p>
                <input type='button' value='  7  ' name='7' onclick='' id="7" name="7"/>
                <input type='button' value='  8  ' name='8' onclick='' id="8"name="8"/>
                <input type='button' value='  9  ' name='9' onclick='' id="9" name="9"/>
            </p>
            <p>
                <input type='button' value='clear' name='clear' onclick='' id="clear"/>
                <input type='button' value='  0  ' name='0' onclick='myFunction()' id="0" name="0"/>
                <input class="file_submit" type='button' value='enter' name='enter' onclick='' />
            </p>
            <script>
              let a=1;
              let b=2;
              let c=3;
              let d=4;
              let e=5;
              let f=6;
              let g=7;
              let h=8;
              let i=9;
              let j=0;

              function myFunktion() {
                var x;
                if () {

                }
              }
            </script>
        </div>
    </body>
</html>